{% extends 'cmsadmin/master.html' %} 
{% block maincontent %} 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
           
      
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Managers</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
     

   
    <!-- Main content -->
    <section class="content">
        
        <!-- Default box -->
        <div class="card card-solid">
          <div class="card-body pb-0">
            <div class="row">
                {%  for data in res  %}
              <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    
                  <div class="card-header text-muted border-bottom-0">
                    Project Manager
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead"><b>NAME : {{data.name}}</b></h2>
                        <p class=" text-sm"><b>ID : </b>  {{data.id}} </p>
                        <ul class="ml-4 mb-0 fa-ul ">
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa"></i></span> Email: {{data.email}}</li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa"></i></span> Phone :{{data.mobile}} </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa"></i></span> Password :{{data.password}} </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa"></i></span> Knowledge : {{data.knowledge}}</li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa"></i></span> Exprience :{{data.exp}} </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa"></i></span> Salary : {{data.salary}}</li>
                        
                       
                        </ul>
                       
                      </div>
                      <div class="col-5 text-center">
                        <img src="/static/dist/img/manager.jpg" alt="user-avatar" class="img-circle img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-right">
                      <a href="edit?q={{data.id}}" class="btn btn-sm bg-teal">
                        <i class="fas fa-user"></i> Edit
                      </a>
                      <a href="delete?q={{data.id}}" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> REMOVE
                      </a>
                    </div>
                  </div>
                  
                </div>
              </div>
              {%  endfor   %} 
            </div>
            
        </div>
        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
              <ul class="pagination justify-content-center m-0">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
              </ul>
            </nav>
          </div>
        </div>
          
    </section>
    
                
               
{% endblock %} 
