{% extends 'cmsadmin/master.html' %} 
{% block maincontent %} 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">HR Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
 <!-- Content Wrapper. Contains page content -->
 {%  for data in res  %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
  
              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="/static/dist/img/user4-128x128.jpg"
                         alt="User profile picture">
                  </div>
                  <p class="text-muted text-center">Hr Name</p>
                  <h3 class="profile-username text-center">{{data.name}}</h3>
  
                  
  
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>ID</b> <a class="float-right">{{data.id}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>EMAIL-</b> <a class="float-right">{{data.email}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>MOBILE </b> <a class="float-right">{{data.mobile}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Password </b> <a class="float-right">{{data.password}}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Salary</b> <a class="float-right">{{data.salary}}</a>
                      </li>
                  </ul>
  
                  <a href="allhr" class="btn btn-primary btn-block">Back To all HR</a>
                  <td><a href="edithr?q={{data.id}}" class="btn btn-primary btn-block">Edit</a></td>
                    <td><a href="deletehr?q={{data.id}}" class="btn btn-primary btn-block">Delete</a></td>
                </div>
                <!-- /.card-body -->
              </div>

               <!-- /.card -->

            <!-- About Me Box -->
           
                
                <!-- /.card-header -->
                <div class="card-body">
                    
                                  </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
           

            <div class="col-md-9">
                <div class="card card-primary card-outline">
                  <div class="card-header p-2">
                    <div class="card-header ">
                        <h3 class="card-title">About HR</h3>
                      </div>
                      <div class="card-body">
                     <div class="tab-content">
                      <div  id="settings">
                        <div class="form-horizontal"></div>
                            <strong><i class="fas fa-book mr-1"></i> Education & Qualification</strong>
  
                            <p class="text-muted">
                                {{data.education}}
                            </p>
            
                            <hr>
                            <strong><i class="fas fa-book mr-1"></i> Skills</strong>
  
                            <p class="text-muted">
                                {{data.skills}}
                            </p>
            
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> Exprience</strong>
            
                            <p class="text-muted">{{data.exp}}</p>
            
                            <hr>
            
                            <strong><i class="fas fa-map-marker-alt mr-1"></i>Age , Gender & Location</strong>
            
                            <p class="text-muted">
                                
                                <span class="tag tag-danger">{{data.age}}</span>
                                <span class="tag tag-success">{{data.gender}}</span>
                                <span class="tag tag-success">{{data.location}}</span>
                            </p>
            
                            <hr>
            
                            <strong><i class="far fa-file-alt mr-1"></i> other info</strong>
            
                            <p class="text-muted">{{data.about}}</p>
          
                        </div>
                    </div>
                </div>
                  </div><!-- /.card-header -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

              {%  endfor   %}
{% endblock %} 