{% extends 'hr/master.html' %} 
{% block maincontent %} 
<!-- Main content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Edit Manager</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Official Deatils</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
    <form action="" method="post">
                {% csrf_token %}
                <label for="exampleInput"></label>
                 <input type="hidden" class="form-control" name="txtid" value="{{res.id}}"  required/>
              </div>
            <div class="form-group">
                <label for="exampleInput">Name</label>
                <input type="text" class="form-control" name="txtname" value="{{res.name}}"  required/>
              </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="txtemail" value="{{res.email}}"  required/>
          </div>
          <div class="form-group">
            <label for="txtmobile">Mobile NO.</label>
            <input type="number" class="form-control" name="txtnumber" value="{{res.mobile}}"  required/>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="txtpass" value="{{res.password}}"  required />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Education</label>
            <input type="text" class="form-control" name="txtedu" value="{{res.education}}"  required/>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Knowledge of languages & tools</label>
            <input type="text" class="form-control" name="txtknow" value="{{res.knowledge}}" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Working Exprience</label>
            <input type="number" class="form-control" name="txtexp" value="{{res.exp}}"  required/>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Salary</label>
            <input type="number" class="form-control" name="txtsal" value="{{res.salary}}"  required/>
          </div>
          
        <!-- /.card-body -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
      <!-- /.card-body -->
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Personal Deatils</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputStatus">Gender</label>
              <select name="txtgender" class="form-control custom-select" value="{{res.gender}}" required>
                <option >{{res.gender}}</option>
                <option>Male</option> 
                <option>Female</option>
                <option>Other </option>
                
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Age</label>
              <input type="number" class="form-control" name="txtage" value="{{res.age}}"  required>
            </div>
            <div class="form-group">
              <label for="exampleInput">Location</label>
              <input type="text" class="form-control" name="txtlocation" value="{{res.location}}"  required> 
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Other Deatils</label>
              <input type="text" class="form-control" name="txtabt"  value="{{res.about}}" required>
            </div>


          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

        <div class="card-footer">
          <button type="submit" name="btnsubmit" value="Update" class="btn btn-primary">Update</button>
        </div>
      </form>
      
    </div>
    <!-- /.card -->
</div>
<!--/.col (right) -->
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->

</section>

{% endblock %} 