{% extends 'guest/master.html' %} 
{% block maincontent %} 
<section class="contact-us section bg-gray" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
          <h4>Welcome at CMS</h4>
          <h2>Login as MANAGER</h2>
          <span class="border"></span>
          <p>  </p>
        </div>
      </div>
    </div>
    <div class="row">
    
      <div class="d-flex justify-content-center align-items-center container ">

       <div class="contact-form col-md-6 ">
        
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" placeholder="Login ID" class="form-control" name="txtemail" >
          </div>
          <div class="form-group">
            <input type="Password" placeholder="Password" class="form-control" name="txtpass" >
          </div>
          
          <div class="card-footer">
            <button type="submit" class="btn btn-transparent" name="btnsubmit" id="contact-submit"  value="login" class="btn btn-primary">login</button>
      
          </div>
          <div id="success" class="success">
            
          </div>
          
          
          
 
          </div>            
          
        </form>
        {{res}} 
      </div>
    </div>
      
          
        </div>
      </div>
      
      
    </div>
    
  </div> <!-- end container -->
</section> <!-- end section -->
{% endblock %} 
